 <header>
     <h1> COmputación en REd - CORE</h1>
     <nav> 
        <a href="/">Home</a>    
        <a href="/creditos.html">Créditos</a>
     </nav>
   </header>
  
   <section>
     <h2>Autores</h2>

     <ul>
         <li>Alexandre Gonzalez Wilcox 70066568N</li>
         <li>Jorge Miaja Hernández 05446387X</li>
     </ul>
   </section>

   <footer>
      CORE 2013-2014 - UPM
   </footer>